<div>
    Todo preparado para trabajar con websockets
</div>
<input type="text" id="messageInput" placeholder="Escribe tu mensaje...">
<button id="sendMessageBtn">Enviar</button>
<div id="displayMessages"></div>
<script src="/socket.io/socket.io.js"></script> 
<script src="/js/index.js"></script>
